@charset "utf-8";
@import url(./Animista.css);

:root {
	--RainyCl: #008c8cdc;
	--BrightCl: #eee;
	--DarkCl: #555;
	--TmOne: 0.3s;
	--TmTwo: 1.5s;
	--Ri: 0.3rem;
	--CodeCl: #135046;
	--BtnRipple: rgba(0, 0, 0, 0.05);
}

.Icon {
	width: 3rem;
	height: 3rem;
	cursor: pointer;
	overflow: hidden;
	fill: currentColor;
	vertical-align: -0.15em;
}

.Icon:active {
	transform: scale(0.9, 0.9);
}

.Icon:hover {
	color: var(--RainyCl);
}

.TransitionOne {
	transition: all var(--TmOne) linear;
}
.TransitionTwo {
	transition: all var(--TmTwo) linear;
}

.MinWidth {
	min-width: 320px;
}

.BorderBox {
	box-sizing: border-box;
}

.BorderRi {
	border-radius: var(--Ri);
}

.SerifFont {
	font-family: serif;
}

* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	-webkit-tap-highlight-color: transparent;
	/*元素的点击高亮*/
}

html {
	width: 100%;
	height: 100%;
	font-size: 10px;
	line-height: 1.8;
	color: var(--DarkCl);
	letter-spacing: 0.2rem;
	font-family: 'Microsoft YaHei', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	scroll-behavior: smooth;
}

body {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background-color: var(--BrightCl);
}

audio,
canvas,
video,
img {
	display: inline-block;
}

a {
	color: var(--DarkCl);
	text-decoration: none;
	cursor: pointer;
}

.HideScroll::-webkit-scrollbar {
	display: none;
	/* 隐藏滚动条 */
}



/* 响应式 */
@media screen and (min-width: 720px) {
	.BoxShadow {
		box-shadow: 0.5rem 0.875rem 2.375rem rgba(39, 44, 49, 0.15), 0.0625rem 0.1875rem 0.5rem rgba(39, 44, 49, 0.03);
	}
}

/* 当屏幕宽度小于 720px */
@media screen and (max-width: 720px) {
	html {
		font-size: 8px;
	}

	.BoxShadow {
		box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
	}
	
	.Area {
		width: 100%;
		left: 0%;
		top: 0%;
		height: 100%;
	}

	.posts {
		width: 100%;
		padding: 0 2rem;
	}

	.articles {
		max-width: 100% !important;
		margin: 3rem 0 1rem 0 !important;
		box-shadow: none;
	}



}
