
/* Animation */
/* 模糊-放大-缩小 */
.focus-in-contract-bck {
	-webkit-animation: focus-in-contract-bck var(--TmTwo) cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: focus-in-contract-bck var(--TmTwo) cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes focus-in-contract-bck {
	0% {
		letter-spacing: 1em;
		-webkit-transform: translateZ(300px);
		transform: translateZ(300px);
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(12px);
		transform: translateZ(12px);
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1;
	}
}
@keyframes focus-in-contract-bck {
	0% {
		letter-spacing: 1em;
		-webkit-transform: translateZ(300px);
		transform: translateZ(300px);
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(12px);
		transform: translateZ(12px);
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1;
	}
}

/* 模糊-由内到外展开 */
.focus-in-expand {
	-webkit-animation: focus-in-expand var(--TmTwo) cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: focus-in-expand var(--TmTwo) cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes focus-in-expand {
	0% {
		letter-spacing: -0.5em;
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0;
	}
	100% {
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
}
@keyframes focus-in-expand {
	0% {
		letter-spacing: -0.5em;
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0;
	}
	100% {
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
}
/* 模糊-由外至内 */
.focus-in-contract {
	-webkit-animation: focus-in-contract var(--TmTwo) cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: focus-in-contract var(--TmTwo) cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes focus-in-contract {
	0% {
		letter-spacing: 1em;
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0;
	}
	100% {
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
}
@keyframes focus-in-contract {
	0% {
		letter-spacing: 1em;
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0;
	}
	100% {
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
}
/* 模糊出现 */
.text-focus-in {
	-webkit-animation: text-focus-in var(--TmTwo) cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
	animation: text-focus-in var(--TmTwo) cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
	0% {
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0;
	}
	100% {
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
}
@keyframes text-focus-in {
	0% {
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0;
	}
	100% {
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
}
/* 旋转-左下角-顺时针 */

.rotate-in-2-bl-cw {
	-webkit-animation: rotate-in-2-bl-cw var(--TmTwo) cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: rotate-in-2-bl-cw var(--TmTwo) cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes rotate-in-2-bl-cw {
	0% {
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		-webkit-transform-origin: 0 100%;
		transform-origin: 0 100%;
		opacity: 0;
	}
	100% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
		-webkit-transform-origin: 0 100%;
		transform-origin: 0 100%;
		opacity: 1;
	}
}
@keyframes rotate-in-2-bl-cw {
	0% {
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		-webkit-transform-origin: 0 100%;
		transform-origin: 0 100%;
		opacity: 0;
	}
	100% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
		-webkit-transform-origin: 0 100%;
		transform-origin: 0 100%;
		opacity: 1;
	}
}
/* 旋转-左上角-顺时针-微动 */

.tilt-in-right-1 {
	-webkit-animation: tilt-in-right-1 var(--TmTwo) cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: tilt-in-right-1 var(--TmTwo) cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes tilt-in-right-1 {
	0% {
		-webkit-transform: rotateX(-30deg) translateX(300px) skewX(30deg);
		transform: rotateX(-30deg) translateX(300px) skewX(30deg);
		opacity: 0;
	}
	100% {
		-webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
		transform: rotateX(0deg) translateX(0) skewX(0deg);
		opacity: 1;
	}
}
@keyframes tilt-in-right-1 {
	0% {
		-webkit-transform: rotateX(-30deg) translateX(300px) skewX(30deg);
		transform: rotateX(-30deg) translateX(300px) skewX(30deg);
		opacity: 0;
	}
	100% {
		-webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
		transform: rotateX(0deg) translateX(0) skewX(0deg);
		opacity: 1;
	}
}



/* 移动-从左向右-回弹 */
.bounce-in-left {
	-webkit-animation: bounce-in-left 1.5s both;
	animation: bounce-in-left 1.5s both;
}

@-webkit-keyframes bounce-in-left {
	0% {
		-webkit-transform: translateX(-600px);
		transform: translateX(-600px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		opacity: 0;
	}
	38% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		opacity: 1;
	}
	55% {
		-webkit-transform: translateX(-68px);
		transform: translateX(-68px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	72% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	81% {
		-webkit-transform: translateX(-28px);
		transform: translateX(-28px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	90% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	95% {
		-webkit-transform: translateX(-8px);
		transform: translateX(-8px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}
@keyframes bounce-in-left {
	0% {
		-webkit-transform: translateX(-600px);
		transform: translateX(-600px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		opacity: 0;
	}
	38% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		opacity: 1;
	}
	55% {
		-webkit-transform: translateX(-68px);
		transform: translateX(-68px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	72% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	81% {
		-webkit-transform: translateX(-28px);
		transform: translateX(-28px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	90% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	95% {
		-webkit-transform: translateX(-8px);
		transform: translateX(-8px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}

/* 移动-从右向左-回弹 */
.bounce-in-right {
	-webkit-animation: bounce-in-right 1.5s both;
	animation: bounce-in-right 1.5s both;
}

@-webkit-keyframes bounce-in-right {
	0% {
		-webkit-transform: translateX(600px);
		transform: translateX(600px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		opacity: 0;
	}
	38% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		opacity: 1;
	}
	55% {
		-webkit-transform: translateX(68px);
		transform: translateX(68px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	72% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	81% {
		-webkit-transform: translateX(32px);
		transform: translateX(32px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	90% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	95% {
		-webkit-transform: translateX(8px);
		transform: translateX(8px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}
@keyframes bounce-in-right {
	0% {
		-webkit-transform: translateX(600px);
		transform: translateX(600px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		opacity: 0;
	}
	38% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		opacity: 1;
	}
	55% {
		-webkit-transform: translateX(68px);
		transform: translateX(68px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	72% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	81% {
		-webkit-transform: translateX(32px);
		transform: translateX(32px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	90% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	95% {
		-webkit-transform: translateX(8px);
		transform: translateX(8px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}
