<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" prefix="og: http://ogp.me/ns#">
{{ partial "head.html" . }}
<!-- 标签页 -->
<body>
  <article id="Blog">
  <article class="posts BorderBox">
    <div class="row">
      <div class="">
        {{ partial "header.html" . }}
        <h1 id="Title" class="MainTitle">{{.Data.Term}}</h1>

        <div id="posts-list">
          {{ range (where .Data.Pages "Type" "in" site.Params.mainSections).GroupByDate "2006" -}}
          <section>
            <div class="PostsArea">
            <h1 class="site-date-catalog">{{ .Key }}</h1>
            <div id="SearchBox">
              <svg class="Search Icon TransitionOne" aria-hidden="true">
                  <use href="#Icon-Search"></use>
              </svg>
      </div>
            </div>

            {{ range .Pages }}
            <div class="row posts-line BorderBox BorderRi">
              <div class="posts-date ">
                <time datetime="{{ .Date.Format "2006-01-02 15:04:05 MST" }}">{{ .Date.Format "Jan 02"}}</time>
              </div>
                <div class="row ">
                  <div class="PostTitle hvr-underline-from-center">
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                  </div>
                </div>
            </div>
            {{ end }}
          </section>
          {{ end }}
        </div>
      </div>
    </div>
  </article>
    {{ partial "footer.html" . }}
  </article>

  {{ partial "scripts.html" . }}
  <script src="../../js/Search.js"></script>


</body>

</html>