<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}
<!-- 文章页 -->
<body class="Wrap" >
  <article class="post articles BorderBox {{ .Site.Language.LanguageName }} " id="article">
    <div class="row">
      <div class="col-xs-12">
        <header class="post-header">
          <h1 id="Title" class="post-title">{{ .Title }}</h1>
          {{ if in .Site.Params.mainSections .Type }}
          <div class="row post-desc">
            <div class="col-xs-6">
              {{ if .Date }}
              <time class="post-date" datetime="{{ .Date.Format "2006-01-02 15:04:05 MST" }}">
                {{ .Date.Format "2006.01.02" }}
              </time>
              {{ end }}
            </div>
          </div>

          {{ end }}
        </header>
          <!-- 目录 -->
          {{ .TableOfContents }}
      
          
        <div class="post-content">
          {{ .Site.Params.postHeaderContent | safeHTML }}
          {{ .Content }}
        </div>

        <div class="row middle-xs">
          <div class="col-xs-12">
            {{ range .Params.tags }}
            <div class="post-tags">
              <a href="{{ site.LanguagePrefix }}/Sub/Blog/tags/{{ lower . | urlize }}/">
                {{ . }}
              </a>
            </div>
            {{ end }}
          </div>
        </div>
        
        {{ if in .Site.Params.mainSections .Type }}
          <div class="row">
            <div class="col-xs-12">
              {{ .Site.Params.postFooterContent | safeHTML }}
            </div>
          </div>

        {{ end }}

      </div>
    </div>
  </article>
  {{ partial "footer.html" . }}

  {{ partial "scripts.html" . }}
  <script src="../../js/copycode.js"></script>


  {{ if .Site.Params.extraBody }}
  {{ .Site.Params.extraBody | safeHTML }}
  {{ end }}

</body>

</html>