<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" prefix="og: http://ogp.me/ns#">
  {{ partial "head.html" . }}

  <body class="MinWidth">

    <article class="Main BorderBox">
      <h1 id="Title" class="MainTitle">Blog</h1>
      <div class="PostsArea">

        {{ partial "header.html" . }}
        {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
        {{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
        {{ range $paginator.Pages }}

        <div class="PostsLine BorderBox">
          <div class="PostsDate">
            <time datetime="{{ .Date.Format " 2006-01-02 15:04:05 MST" }}">{{ .Date.Format "Jan 02"}}</time>
          </div>

          <div class="PostTitle">
            <a class="hvr-underline-from-center" href="{{ .RelPermalink }}">{{.Title}}</a>
          </div>
          {{ range .Params.categories }}
          <div class="PostsCategory">
            <a href="/Sub/Blog/categories/{{ lower . }}/">{{ . }}</a>
          </div>
          {{ end }}
        </div>
        {{ end }}
        {{ template "partials/paginator.html" . }}

      </div>



      {{ partial "footer.html" . }}

    </article>
    {{ partial "scripts.html" . }}

  </body>

</html>