#Blog {
	width: 100%;
	height: 100%;
	position: relative;
}

.Area {
	width: 80%;
	height: 100%;
	left: 0;
	z-index: 2;
	top: 0%;
	position: absolute;
	overflow-y: scroll;
	background-color: var(--BrightCl);
	position: relative;
}
.MainTitle {
	font-size: 3.9rem;
	margin-top: 2rem;
	text-align: center;
}
.OneGeometry {
	left: 5.5%;
	top: 7%;
	width: 77%;
	z-index: 1;
	height: 85%;
	position: absolute;
	background-color: var(--BrightCl);
}
/* 主页文章 */
.posts {
	width: 65rem;
	padding: 0 2rem;
	margin: 0 auto;
}

/* header */
.taxonomy-term {
	font-size: 3rem;
	text-align: center;
	margin-top: 2.5rem;
}
/* 年日期 */
.site-date-catalog {
	font-size: 2.4rem;
	margin: 2.5rem 0 1.5rem 1rem;
	font-weight: normal;
}

/* posts list */
.Articles {
	height: 100%;
}
#posts-list {
	min-height: 100%;
}
/* 文章项目列表 */
.posts-line {
	position: relative;
	padding: 3rem 2rem;
	font-size: 1.5rem;
	width: 100%;
	margin: 3rem auto 0 auto;
	min-width: 33rem;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
h1 + .posts-line {
	margin-top: 1.5rem;
}
/* 日期 */
.posts-date,
.col-xs-2 {
	position: absolute;
	top: 50%;
	left: 1rem;
	font-size: 1.5rem;
	transform: translateY(-50%);
}
/* 文章页和标签页的文章标题 */
.col-xs-11,
.TagTitle {
	position: absolute;
	top: 50%;
	font-size: 1.6rem;
	left: 25%;
	transform: translateY(-50%);
}
.TagTitle {
	padding-left: 10%;
}

.col-xs-11 a,
.TagTitle a {
	display: inline-block;
	position: relative;
	transition: all var(--TmOne);
}

.col-xs-11 a:before,
.TagTitle a:before {
	content: '';
	position: absolute;
	left: 50%;
	bottom: -0.2rem;
	width: 0;
	height: 0.15rem;
	transition: all var(--TmOne);
	background-color: var(--RainyCl);
}

.col-xs-11 a:hover,
.TagTitle a:hover {
	color: var(--RainyCl);
}

.col-xs-11 a:hover:before,
.TagTitle a:hover:before {
	width: 100%;
	left: 0;
	right: 0;
}

.posts-categories {
	font-size: 0.8rem;
	margin: auto;
	text-align: center;
}
/* 标签 */
.posts-category {
	position: absolute;
	top: 50%;
	right: 3%;
	transform: translateY(-50%);
	font-size: 1.35rem;
}
.posts-category a {
	margin-right: 1rem;
	color: var(--RainyCl);
	padding: 0.3rem 0.8rem;
	box-sizing: border-box;
	transition: all var(--TmOne);
	border: 0.1rem solid #ccc;
	border-radius: var(--Ri);
}
.posts-category a:hover {
	background-color: var(--BtnRipple);
}

/* 底部备案号 */
.site-footer {
	width: 100%;
	text-align: center;
	opacity: 0.2;
}
.site-footer:hover {
	opacity: 1;
	color: var(--RainyCl);
}

/* post */

/* 文章页 */
.Wrap {
	padding-bottom: 1rem;
	height: auto !important;
}
.articles {
	padding: 3rem 3rem 3rem 3rem;
	max-width: 70%;
	margin: 3rem 0 3rem 9%;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

#TableOfContents {
	position: fixed;
	right: 5%;
	top: 3rem;
	border-radius: var(--Ri);
	width: 20rem;
	margin-left: 3rem;
	background-color: var(--BrightCl);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}


#TableOfContents ul {
	font-size: 1.6rem;
	padding: 1.5rem 2rem;
}

#TableOfContents ul a {
	color: inherit;
}

#TableOfContents ul ul {
	padding: 0;
	padding-left: 2rem;
	font-size: 1.4rem;
}

#TableOfContents li {
	padding: 0.5rem 0.3rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#tab-of-content-button {
	float: right;
}

.post-content img {
	max-width: 100%;
	display: block;
	margin-right: auto;
	margin-top: 1.2rem;
}
/* 隐藏源文章中的一级标题 */
.post-content h1 {
	display: none;
}

.post-header {
	margin-bottom: 26px;
}
/* 文章页 一级标题 */
.articles .post-title {
	font-size: 3.6rem;
	text-align: center;
}
.articles .post-title:after {
	content: '';
	display: block;
	margin: 0.2em auto 0;
	width: 6rem;
	height: 0.2rem;
	border-bottom: 0.2rem solid var(--RainyCl);
}
.articles h2 {
	font-size: 2.8rem;
	padding-left: 1rem;
	border-bottom: 0.16rem solid var(--RainyCl);
	font-weight: bold;
	margin-top: 5rem;
	margin-bottom: 2rem;
	border-left: 0.7rem solid var(--RainyCl);
}
.articles h3 {
	font-size: 2.3rem;
	margin-top: 2rem;
}
.articles h3::before {
	content: '#' !important;
	margin-right: 0.5rem;
	color: var(--RainyCl);
}
.articles h4 {
	font-size: 2rem;
	margin-top: 1rem;
	display: inline-block;
	box-sizing: border-box;
}
.articles h5 {
	font-size: 1.8rem;
}
.articles h6 {
	font-size: 1.5rem;
}
p {
	font-size: 1.7rem;
}

/* 文章页标签 */
.post-tags a {
	display: inline-block;
	margin-right: 1rem;
	font-size: 1.4rem;
	margin-top: 2rem;
	color: var(--RainyCl);
	padding: 0.3rem 0.8rem;
	box-sizing: border-box;
	transition: all var(--TmOne);
	border: 0.1rem solid #ccc;
	border-radius: var(--Ri);
}

.post-tags a:hover {
	background-color: var(--BtnRipple);
}

/* 文章页日期  */
.post-date {
	float: right;
	font-size: 2rem;
	font-style: italic;
}

.page-content {
	min-height: 60%;
}

.post-content {
	margin-top: 6rem;
	font-size: 1.5rem;
}

.post-content p {
	hyphens: auto;
	margin-bottom: 0.5rem;
}

/* picture */
img {
	transition: all var(--TmOne);
	width: 50%;
	border-radius: var(--Ri);
}
img:hover {
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

/* 列表 */
li > ol,
li > ul {
	font-size: 1.5rem;
	line-height: 1.6;
}

ul,
ol {
	padding-left: 2rem;
}

.post-content blockquote {
	border-left: 0.36rem solid #ddd;
	color: #6b6b6b;
	padding: 1rem 1rem 1rem 2rem;
	margin: 3rem 0;
	font-size: 1.5rem;
	border-radius: 0.3rem;
}

.related-content {
	border-width: 3px;
	border-style: solid;
	border-color: #000;
	padding: 0 10px;
	margin-bottom: 50px;
	margin-top: 50px;
}

.related-content li {
	margin: 5px 0;
}

/* gallery */

.gallery-img {
	text-align: center;
}

.gallery-img span {
	text-align: center;
}

.gallery-img-desc {
	font-size: 0.8em;
	font-weight: 800;
}

/* disqus */

#disqus_thread {
	position: relative;
}

#disqus_thread:after {
	content: '';
	display: block;
	height: 55px;
	width: 100%;
	position: absolute;
	bottom: 0;
	background: white;
}

#cusdis_thread .w-full {
	border-color: #000;
}

/* 代码块 */
.highlight {
	margin: 2rem 0;
	position: relative;
}
/* 代码块中的一行行的代码 */
.post-content pre > code {
	padding: 0;
	background: transparent;
}

.post-content pre > code .ln {
	user-select: none;
}

.highlight pre::-webkit-scrollbar {
	width: 0.2rem;
}
/* 代码块横向滚动条背景颜色 */

.highlight pre::-webkit-scrollbar-track-piece {
	background-color: var(--BrightCl);
}

.highlight pre::-webkit-scrollbar-track {
	background-color: rgb(131, 15, 15);
}
/* 代码块横向滚动条颜色 */
.highlight pre::-webkit-scrollbar-thumb {
	background-color: #ddd;
}

.highlight pre::-webkit-scrollbar-button {
	background-color: rgb(160, 17, 17);
	display: none;
}

.post-content li {
	line-height: 1.8;
	font-size: 1.5rem;
	margin-top: 1.2rem;
}

.post-content a {
	color: var(--LinkCl);
	text-decoration: none;
	margin-top: 1rem;
	border-bottom: 0.1rem solid var(--LinkCl);
	transition: all var(--Tm);
}
.post-content a:hover {
	color: var(--RainyCl);
}

.page-content strong {
	margin: 0 0.15rem;
	font-weight: bold;
}
/* 表格 */
#write table {
	margin-bottom: 5rem;
	font-size: 1.6rem;
}
table th,
table td {
	padding: 1rem;
	vertical-align: middle;
	border: 0.1rem solid #ddd;
}
table th {
	font-weight: bold;
}
table thead th {
	vertical-align: middle;
}

.post-content pre {
	display: block;
	-webkit-overflow-scrolling: touch;
	border-radius: 0.3rem;
	padding: 2.5rem 1rem;
	margin-top: 3rem;
	margin-bottom: 3rem;
	font-size: 1.4rem;
	border: 0.1rem solid rgb(177, 177, 177);
	border-radius: var(--Ri);
	letter-spacing: 0.3rem;
	overflow-x: scroll;
	background-color: var(--BrightCl) !important;
}
/* 行内代码块 */
.post-content code {
	padding: 0.2rem 0.5rem;
	border-radius: 0.2rem;
	color: var(--CodeCl);
	margin: 0 1rem;
	background-color: #008c8c2f;
}

/* 代码复制按钮  */
.highlight-copy-btn {
	position: absolute;
	top: 1rem;
	right: 1rem;
	border-radius: var(--Ri);
	padding: 0.5rem 0;
	font-size: 1.3rem;
	color: var(--DarkCl);
	background-color: var(--BrightCl);
	min-width: 5rem;
	text-align: center;
	transition: all var(--TmOne);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.highlight-copy-btn:hover {
	cursor: pointer;
	color: var(--RainyCl);
}

/* 脚注 */
.doc-endnote {
	font-size: 1.3rem;
}

/* 任务选择器 */
.task-list {
	padding-left: 0;
}
/* task font */
.md-task-list-item {
	padding-left: 3.4rem;
}

.md-task-list-item > input {
	width: 1.25rem;
	height: 1.25rem;
	display: block;
	-webkit-appearance: initial;
	top: -0.2rem;
	margin-left: -1.6em;
	margin-top: calc(1rem - 0.7rem);
	border: none;
	margin-top: 0.8rem;
	background-color: transparent;
}

.md-task-list-item > input:focus {
	outline: none;
	box-shadow: none;
}

.md-task-list-item > input:before {
	border: 0.1rem solid #555;
	border-radius: var(--Ri);
	width: 1.5rem;
	height: 1.5rem;
	content: ' ';
	transition: background-color 200ms ease-in-out;
	display: block;
}

.md-task-list-item > input:checked:before,
.md-task-list-item > input[checked]:before {
	background: #333;
	border-width: 0.2rem;
	display: inline-block;
	transition: background-color 200ms ease-in-out;
}

.md-task-list-item > input:checked:after,
.md-task-list-item > input[checked]:after {
	opacity: 1;
}

.md-task-list-item > input:after {
	opacity: 1;
	-webkit-transition: opacity 0.05s ease-in-out;
	-moz-transition: opacity 0.05s ease-in-out;
	transition: opacity 0.05s ease-in-out;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
	position: absolute;
	top: 0.4375rem;
	left: 0.28125rem;
	width: 0.9375rem;
	height: 0.5rem;
	border: 0.3rem solid #fff;
	border-top: 0;
	border-right: 0;
	content: ' ';
	opacity: 0;
}

#Footer .Search {
	position: absolute;
	bottom: 10%;
	right: 10%;
	padding: 1rem;
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

/* 搜索对话框 */
.SearchDialogMask {
	top: 0;
	left: 0;
	z-index: 3;
	width: 100vw;
	height: 100vh;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.034);
}

.SearchDialogBox {
	top: 40%;
	left: 50%;
	z-index: 3;
	width: 50%;
	display: none;
	height: 30rem;
	padding-top: 5rem;
	box-sizing: border-box;
	border-radius: var(--Ri);
	background-color: var(--BrightCl);
	transform: translate(-50%, -50%);
}
.SearchDialogBox .Content {
	position: relative;
	z-index: 4;
	width: 100%;
	height: 80%;
	font-size: 1.5rem;
	border: 1px solid rgb(214, 1, 196);
}
.SearchDialogBox .CloseBox {
	position: relative;
	z-index: 4;
	width: 30%;
	height: 20%;
	text-align: center;
	margin: 0 auto;
	border-radius: var(--Ri);
}
.SearchDialogBox .Close {
	z-index: 5;
	position: relative;
	width: 100%;
	height: 100%;
	width: 2.5rem;
	transition: all var(--TmOne);
}

.SearchDialogBox .CloseBox:hover {
	cursor: pointer;
	color: var(--RainyCl);
	background-color: var(--BtnRipple);
}

.SearchDialogBox .CloseBox:active .Close {
	transform: scale(0.9, 0.9);
}

.search {
	position: relative;
	height: 30px;
	text-align: center;
	border: 1px solid rgb(139, 21, 21);
	padding: 0 5%;
}

.search .search-input {
	width: 100%;
	height: 3rem;
	margin: 0 auto;
	border: 1px solid rgb(39, 170, 27);
	border-radius: var(--Ri);
	box-sizing: border-box;
}

.search .search-clear {
	display: none;
	color: aqua;
	cursor: pointer;
	border: 1px solid rgb(155, 10, 10);
}

.search .search-results {
	display: block;
	z-index: 1;
	position: absolute;
	top: 3rem;
	left: 0;
	width: 50%;
	max-height: 400px;
	overflow: auto;
	text-align: left;
	border-radius: 5px;
	box-shadow: 0 0.3rem 0.5rem rgb(165, 16, 16);
}

.search .search-results .result-item {
	background: var(--BrightCl);
	color: #000;
	padding: 3px;
	cursor: pointer;
}

 